*{
    margin: 0;
    padding: 0;

}

#ulEmpresas li{
    text-align: center;
    border: 1px solid #d5d5d5;
    background-color:#f9f2f4;
    display: inline-table;
    margin-right: 15px;
    padding: 1px;
    width: 150px;
    height:150px;
}

#ulMenu li{
    text-align: center;
    border: 1px solid #d5d5d5;
    background-color:#f9f2f4;
    display: inline-table;
    margin-right: 15px;
    padding: 1px;
    width: 150px;
    height:150px;
}